// primary color
$color-primary = #20a0ff
$color-primary-light = #58B7FF
$color-primary-dark = #1D8CE0

$color-success = #13CE66
$color-warning = #F7BA2A
$color-danger = #FF4949

$color-black = #1F2D3D
$color-black-light = #324057
$color-black-exact-light = #475669

$color-silver = #8492A6
$color-silver-light = #99A9BF
$color-silver-exact-light = #C0CCDA

$color-gray = #D3DCE6
$color-gray-light = #E5E9F2
$color-gray-exact-light = #EFF2F7

$color-white = #fff
$color-white-dark = #F9FAFC

$header-height = 3.5rem
$menu-width = 12.5rem
